<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.fff.learning.dao.UserDao">

    <resultMap id="UserMap" type="org.fff.learning.domain.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="hash_password"/>
        <result property="role" column="role"/>
    </resultMap>

    <!-- 查询登录用户 -->
    <select id="getUserByUsername" resultMap="UserMap">
        select * from user where username=#{username}
    </select>

</mapper>
